In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('EADA_2019_filtered_coord.csv')
df

,unitid,institution_name,addr1_txt,addr2_txt,city_txt,state_cd,zip_text,ClassificationCode,classification_name,ClassificationOther,...,GRND_TOTAL_REVENUE,GRND_TOTAL_EXPENSE,OPEXPPERTEAM_MEN_Baseball,OPEXPPERTEAM_MEN_Bskball,REV_MEN_Baseball,REV_MEN_Bskball,EXP_MEN_Baseball,EXP_MEN_Bskball,lat,lon
0,100654,Alabama A & M University,4900 Meridian Street,NaN,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,...,13790500,13626724,171178.0,184268.0,608854.0,1591652.0,588354.0,1667122.0,34.782600,-86.568700
1,100706,University of Alabama in Huntsville,301 Sparkman Dr,NaN,Huntsville,AL,35899.0,5,NCAA Division II without football,NaN,...,7781027,7781027,173401.0,143803.0,541784.0,705934.0,541784.0,705934.0,34.725000,-86.640000
2,100724,Alabama State University,915 S Jackson Street,NaN,Montgomery,AL,36104.0,2,NCAA Division I-FCS,NaN,...,11639722,11639722,72110.0,180911.0,628125.0,992694.0,628125.0,992694.0,32.364000,-86.295000
3,100751,The University of Alabama,739 University Blvd,NaN,Tuscaloosa,AL,35487.0,1,NCAA Division I-FBS,NaN,...,166812799,166812799,1166447.0,1457096.0,2016412.0,16028795.0,4173211.0,15966875.0,33.210833,-87.546111
4,100760,Central Alabama Community College,1675 Cherokee Rd,NaN,Alexander City,AL,35010.0,12,NJCAA Division I,NaN,...,906077,889789,61904.0,NaN,318500.0,NaN,308353.0,NaN,32.926230,-85.946490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,486901,Milligan College,1 Blowers Blvd.,NaN,Milligan College,TN,37682.0,10,NAIA Division II,NaN,...,5501770,5458939,60654.0,28928.0,601223.0,400392.0,601197.0,377672.0,36.301700,-82.295100
1808,487524,Husson University,1 College Circle,NaN,Bangor,ME,4401.0,6,NCAA Division III with football,NaN,...,2955721,2955721,106791.0,91996.0,142626.0,140394.0,135573.0,116686.0,44.826964,-68.793222
1809,488785,University of Saint Katherine,1637 Capalina Road,NaN,San Marcos,CA,92069.0,15,NCCAA Division I,NaN,...,2701639,2701639,48084.0,54935.0,923581.0,116259.0,504014.0,328106.0,33.048100,-117.277500
1810,489937,Piedmont International University,420 S. Broad St.,NaN,Winston-Salem,NC,27101.0,15,NCCAA Division I,NaN,...,2169500,2169500,57488.0,46276.0,402973.0,328353.0,367526.0,345939.0,36.087900,-80.250100
1811,800001,Simon Fraser University,"8888 University Drive,","Burnaby, BC, V5A 1S6, Canada",NaN,NaN,NaN,4,NCAA Division II with football,NaN,...,8684391,8684391,NaN,172291.0,NaN,506490.0,NaN,506490.0,49.278889,-122.916111

In [5]:
for index, row in df.iterrows():
    if row['institution_name'] in ['Columbia Basin College', 'Heidelberg University', 'Manchester University']:
        df.drop(index = index, inplace = True)
        
df

,unitid,institution_name,addr1_txt,addr2_txt,city_txt,state_cd,zip_text,ClassificationCode,classification_name,ClassificationOther,...,GRND_TOTAL_REVENUE,GRND_TOTAL_EXPENSE,OPEXPPERTEAM_MEN_Baseball,OPEXPPERTEAM_MEN_Bskball,REV_MEN_Baseball,REV_MEN_Bskball,EXP_MEN_Baseball,EXP_MEN_Bskball,lat,lon
0,100654,Alabama A & M University,4900 Meridian Street,NaN,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,...,13790500,13626724,171178.0,184268.0,608854.0,1591652.0,588354.0,1667122.0,34.782600,-86.568700
1,100706,University of Alabama in Huntsville,301 Sparkman Dr,NaN,Huntsville,AL,35899.0,5,NCAA Division II without football,NaN,...,7781027,7781027,173401.0,143803.0,541784.0,705934.0,541784.0,705934.0,34.725000,-86.640000
2,100724,Alabama State University,915 S Jackson Street,NaN,Montgomery,AL,36104.0,2,NCAA Division I-FCS,NaN,...,11639722,11639722,72110.0,180911.0,628125.0,992694.0,628125.0,992694.0,32.364000,-86.295000
3,100751,The University of Alabama,739 University Blvd,NaN,Tuscaloosa,AL,35487.0,1,NCAA Division I-FBS,NaN,...,166812799,166812799,1166447.0,1457096.0,2016412.0,16028795.0,4173211.0,15966875.0,33.210833,-87.546111
4,100760,Central Alabama Community College,1675 Cherokee Rd,NaN,Alexander City,AL,35010.0,12,NJCAA Division I,NaN,...,906077,889789,61904.0,NaN,318500.0,NaN,308353.0,NaN,32.926230,-85.946490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,486901,Milligan College,1 Blowers Blvd.,NaN,Milligan College,TN,37682.0,10,NAIA Division II,NaN,...,5501770,5458939,60654.0,28928.0,601223.0,400392.0,601197.0,377672.0,36.301700,-82.295100
1808,487524,Husson University,1 College Circle,NaN,Bangor,ME,4401.0,6,NCAA Division III with football,NaN,...,2955721,2955721,106791.0,91996.0,142626.0,140394.0,135573.0,116686.0,44.826964,-68.793222
1809,488785,University of Saint Katherine,1637 Capalina Road,NaN,San Marcos,CA,92069.0,15,NCCAA Division I,NaN,...,2701639,2701639,48084.0,54935.0,923581.0,116259.0,504014.0,328106.0,33.048100,-117.277500
1810,489937,Piedmont International University,420 S. Broad St.,NaN,Winston-Salem,NC,27101.0,15,NCCAA Division I,NaN,...,2169500,2169500,57488.0,46276.0,402973.0,328353.0,367526.0,345939.0,36.087900,-80.250100
1811,800001,Simon Fraser University,"8888 University Drive,","Burnaby, BC, V5A 1S6, Canada",NaN,NaN,NaN,4,NCAA Division II with football,NaN,...,8684391,8684391,NaN,172291.0,NaN,506490.0,NaN,506490.0,49.278889,-122.916111

In [6]:
df.to_csv('EADA_2019_filtered_coord.csv', index = False)