In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sqlalchemy import create_engine
from config import db_password

In [2]:
db_string = f'postgres://postgres:{db_password}@127.0.0.1:5432/postgres'
engine = create_engine(db_string)

In [3]:
school_geo = pd.read_sql_table('school_geo', con = engine)
eada = pd.read_sql_table('eada', con = engine)

In [4]:
eada.columns

Index(['unitid', 'institution_name', 'addr1_txt', 'addr2_txt', 'city_txt',
       'state_cd', 'zip_text', 'ClassificationCode', 'classification_name',
       'ClassificationOther', 'EFMaleCount', 'EFFemaleCount', 'EFTotalCount',
       'sector_cd', 'sector_name', 'RECRUITEXP_MEN', 'RECRUITEXP_TOTAL',
       'GRND_TOTAL_REVENUE', 'GRND_TOTAL_EXPENSE', 'OPEXPPERTEAM_MEN_Baseball',
       'OPEXPPERTEAM_MEN_Bskball', 'REV_MEN_Baseball', 'REV_MEN_Bskball',
       'EXP_MEN_Baseball', 'EXP_MEN_Bskball', 'lat', 'lon'],
      dtype='object')

In [5]:
school_geo[['classification_name', 'sector_name', 'EFTotalCount', 'REV_MEN_Baseball']] = eada[['classification_name', 'sector_name', 'EFTotalCount','REV_MEN_Baseball']]

In [6]:
school_geo

,unitid,institution_name,state_cd,lat,lon,region,nearest_mlb,nearest_mlb_dist,nearest_nba,nearest_nba_dist,classification_name,sector_name,EFTotalCount,REV_MEN_Baseball
0,100654,Alabama A & M University,AL,34.783,-86.569,ESC,Atlanta Braves,134.8,Atlanta Hawks,142.8,NCAA Division I-FCS,"Public, 4-year or above",4697,608854.0
1,100706,University of Alabama in Huntsville,AL,34.725,-86.640,ESC,Atlanta Braves,136.7,Atlanta Hawks,144.5,NCAA Division II without football,"Public, 4-year or above",6382,541784.0
2,100724,Alabama State University,AL,32.364,-86.295,ESC,Atlanta Braves,149.3,Atlanta Hawks,146.1,NCAA Division I-FCS,"Public, 4-year or above",3643,628125.0
3,100751,The University of Alabama,AL,33.211,-87.546,ESC,Atlanta Braves,183.3,Atlanta Hawks,185.4,NCAA Division I-FBS,"Public, 4-year or above",29488,2016412.0
4,100760,Central Alabama Community College,AL,32.926,-85.946,ESC,Atlanta Braves,108.2,Atlanta Hawks,106.3,NJCAA Division I,"Public, 2-year",736,318500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,486840,Kennesaw State University,GA,34.038,-84.583,SA,Atlanta Braves,12.2,Atlanta Hawks,22.2,NCAA Division I-FCS,"Public, 4-year or above",23837,1091407.0
1804,486901,Milligan College,TN,36.302,-82.295,ESC,Atlanta Braves,207.0,Charlotte Hornets,110.4,NAIA Division II,"Private nonprofit, 4-year or above",734,601223.0
1805,487524,Husson University,ME,44.827,-68.793,NE,Boston Red Sox,206.6,Boston Celtics,204.4,NCAA Division III with football,"Private nonprofit, 4-year or above",2394,142626.0
1806,488785,University of Saint Katherine,CA,33.048,-117.278,PAC,San Diego Padres,24.6,Los Angeles Clippers,89.3,NCCAA Division I,"Private nonprofit, 4-year or above",163,923581.0
1807,489937,Piedmont International University,NC,36.088,-80.250,SA,Washington Nationals,261.9,Charlotte Hornets,68.2,NCCAA Division I,"Private nonprofit, 4-year or above",398,402973.0

In [7]:
school_geo['classification_name'].value_counts()

NCAA Division III with football       212
NJCAA Division I                      187
NCAA Division III without football    159
NCAA Division II with football        151
NCAA Division II without football     126
NCAA Division I-FBS                   123
NCAA Division I-FCS                   119
NAIA Division II                      105
NJCAA Division III                     98
CCCAA                                  96
NCAA Division I without football       93
NAIA Division I                        91
NJCAA Division II                      91
Other                                  52
USCAA                                  38
NWAC                                   29
NCCAA Division II                      23
Independent                             8
NCCAA Division I                        7
Name: classification_name, dtype: int64

In [8]:
for index, row in school_geo.iterrows():
    if row['region'] == 'oth':
        school_geo.drop(index = index, inplace = True)

In [9]:
school_geo['region'].value_counts()

SA     301
MA     293
ENC    255
PAC    233
WNC    193
WSC    174
ESC    130
NE     118
MNT     89
Name: region, dtype: int64

In [10]:
school_geo.drop(columns = ['nearest_mlb', 'nearest_nba', 'unitid', 'institution_name', 'lat', 'lon', 'nearest_nba_dist', 'state_cd'], inplace = True)

In [11]:
for index, row in school_geo.iterrows():
    if ('NCAA Division I-' in row['classification_name']) or ('NCAA Division I without football' == row['classification_name']):
        school_geo.at[index, 'classification_name'] = 'NCAA Division I'
    else: 
        school_geo.at[index, 'classification_name'] = 'not NCAA Division I'
        
school_geo.columns

Index(['region', 'nearest_mlb_dist', 'classification_name', 'sector_name',
       'EFTotalCount', 'REV_MEN_Baseball'],
      dtype='object')

In [12]:
cvars = school_geo.dtypes[school_geo.dtypes == 'object'].index.tolist()
cvars

['region', 'classification_name', 'sector_name']

In [13]:
enc = OneHotEncoder(sparse = False)

encode_df = pd.DataFrame(enc.fit_transform(school_geo[cvars]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(cvars)
encode_df.head()

,region_ENC,region_ESC,region_MA,region_MNT,region_NE,region_PAC,region_SA,region_WNC,region_WSC,classification_name_NCAA Division I,classification_name_not NCAA Division I,"sector_name_Private for-profit, 2-year","sector_name_Private for-profit, 4-year or above","sector_name_Private nonprofit, 2-year","sector_name_Private nonprofit, 4-year or above","sector_name_Public, 2-year","sector_name_Public, 4-year or above"
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
school_geo = school_geo.merge(encode_df, left_index = True, right_index = True).drop(columns = cvars)
school_geo.dropna(inplace = True)
school_geo

,nearest_mlb_dist,EFTotalCount,REV_MEN_Baseball,region_ENC,region_ESC,region_MA,region_MNT,region_NE,region_PAC,region_SA,region_WNC,region_WSC,classification_name_NCAA Division I,classification_name_not NCAA Division I,"sector_name_Private for-profit, 2-year","sector_name_Private for-profit, 4-year or above","sector_name_Private nonprofit, 2-year","sector_name_Private nonprofit, 4-year or above","sector_name_Public, 2-year","sector_name_Public, 4-year or above"
0,134.8,4697,608854.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,136.7,6382,541784.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,149.3,3643,628125.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,183.3,29488,2016412.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,108.2,736,318500.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1777,131.2,459,260177.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1778,8.6,3827,258999.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1779,79.1,5933,472402.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1783,105.2,11034,923378.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1784,256.7,3991,139315.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
school_geo = school_geo.loc[school_geo['classification_name_NCAA Division I'] == 1.0]
school_geo.drop(columns = ['classification_name_NCAA Division I', 'classification_name_not NCAA Division I', 'sector_name_Private for-profit, 2-year', 'sector_name_Private nonprofit, 2-year', 'sector_name_Public, 2-year'], inplace = True)
school_geo

C:\Users\eanma\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,nearest_mlb_dist,EFTotalCount,REV_MEN_Baseball,region_ENC,region_ESC,region_MA,region_MNT,region_NE,region_PAC,region_SA,region_WNC,region_WSC,"sector_name_Private for-profit, 4-year or above","sector_name_Private nonprofit, 4-year or above","sector_name_Public, 4-year or above"
0,134.8,4697,608854.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,149.3,3643,628125.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,183.3,29488,2016412.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,106.6,22236,1081504.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,74.6,5356,996031.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714,98.0,2080,215201.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1721,129.2,9125,321079.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1722,2.7,951,133365.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1731,130.5,7398,127790.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1761,286.4,280,296936.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [16]:
X = school_geo.drop(columns = ['REV_MEN_Baseball'])
y = school_geo['REV_MEN_Baseball']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 8)
X_train.shape

(211, 14)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
#Multiple Linear Regression
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression().fit(X_train_scaled, y_train)
lin_model.score(X_test_scaled, y_test)

0.41421546143510224

In [20]:
it = 0
for col in X.columns:
    print(f'{X_train.columns[it]}: {lin_model.coef_[it]}')
    it += 1

nearest_mlb_dist: 70040.12301216238
EFTotalCount: 439558.4694630074
region_ENC: -15439.73246114693
region_ESC: 2264.7904380960545
region_MA: -99460.27393846113
region_MNT: -33126.366362481094
region_NE: -20649.658534172766
region_PAC: -48615.45206175713
region_SA: 24090.92287259467
region_WNC: 18792.744786239233
region_WSC: 152682.11214250347
sector_name_Private for-profit, 4-year or above: 566.7071130765173
sector_name_Private nonprofit, 4-year or above: 15975.012171091892
sector_name_Public, 4-year or above: -16004.417363793647

In [21]:
#Random forest regression 
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state = 8, n_estimators = 20)
rf_model.fit(X_train_scaled, y_train)
rf_model.score(X_test_scaled, y_test)

0.18154705654284978

In [22]:
it = 0
for col in X.columns:
    print(f'{X_train.columns[it]}: {rf_model.feature_importances_[it]}')
    it += 1

nearest_mlb_dist: 0.17670096984866293
EFTotalCount: 0.5547100996932811
region_ENC: 0.005842519214498437
region_ESC: 0.003928058168870719
region_MA: 0.006029389684033171
region_MNT: 0.001928794413351188
region_NE: 0.0009073227919146369
region_PAC: 0.006065178155476232
region_SA: 0.01296440663326982
region_WNC: 0.01819304009272753
region_WSC: 0.18753204811873378
sector_name_Private for-profit, 4-year or above: 3.617093554474817e-07
sector_name_Private nonprofit, 4-year or above: 0.017316240586999924
sector_name_Public, 4-year or above: 0.007881570888825216

In [23]:
#AdaBoost Regression
from sklearn.ensemble import AdaBoostRegressor as abr
ab_model = abr(random_state = 8, n_estimators = 20).fit(X_train_scaled, y_train)
ab_model.score(X_test_scaled, y_test)

-0.11931296729681429

In [24]:
it = 0
for col in X.columns:
    print(f'{X_train.columns[it]}: {ab_model.feature_importances_[it]}')
    it += 1

nearest_mlb_dist: 0.2125518363170486
EFTotalCount: 0.4576294497521761
region_ENC: 0.00020209358260593345
region_ESC: 0.0
region_MA: 0.014483959664649692
region_MNT: 0.0
region_NE: 0.0
region_PAC: 0.011558874015965174
region_SA: 0.0044954604622361736
region_WNC: 0.019742924346518316
region_WSC: 0.24608026854443107
sector_name_Private for-profit, 4-year or above: 0.0
sector_name_Private nonprofit, 4-year or above: 0.0034773953227458416
sector_name_Public, 4-year or above: 0.029777737991623133